@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.dark{
  background-color: #121212;
  color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F1016;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0F1016;
}